.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  .card {
    flex: 0 0 23%;
    margin-right: 5px;
  }
}

.slider-ui-container {
  background: #f0fff8;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.slider-container {
  width: 100%;
  padding: 0 5px;
  margin: 0 5px;
}

.slider-img {
  // object-fit: cover;
  background: red;
  max-height: 200px;
  min-height: 200px;
  height: 200px;
}

.slider-item-title {
  font-size: small;
  line-height: normal;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}
